<h1>Devices</h1>

<table border="1">
<thead>
    <tr>
    <th>Sapid</th>
    <th>Hostname</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for device in object_list %}
    <tr>
    <td>{{ device.hostname }}</td>
    <td>{{ device.loopback }}</td>
    <td><a href="{% url "router_view" device.id %}">view</a></td>
    <td><a href="{% url "router_list" device.id %}">edit</a></td>
    <td><a href="{% url "router_list" device.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

